/* GENERAL STYLES ----------- */

/* 

colors: 
green: #00685a
yellow: #ffe66a
brown: #42210b 

*/

/* for content, Kulim Park font import. font-family: 'Kulim Park', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');
/* for headings, american-typewriter font import. font-family: itc-american-typewriter, serif */
@import url("https://use.typekit.net/xmp2iqs.css");
/* headers, font-family: mr-eaves-modern, sans-serif; */
@import url("https://use.typekit.net/gls6wsw.css");

:root {
    --header-font: mr-eaves-modern, sans-serif;
    /* --header-font: 'Kulim Park', sans-serif; */
    --green: #00685a;
}



/* colours */
#quick-links .blackTitle a {
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

/* to take up full width of the page */
.alignfull {
    margin: 32px calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
}

.row {
    display: flex;
}
.row .wp-block-group__inner-container{
    display: flex;
}

/* woocommerce product block */
.wc-block-grid.has-3-columns .wc-block-grid__product {
    list-style-image: none;
    list-style: none;
}

.center-horizontal {
    justify-content: center;
}

/* vertically center elements that are in a row */
.center-vertical {
    display: flex;
    align-items: center;
}

/* class to remove pre-defined css margin/padding */
.reset {
    margin: 0;
    padding: 0;
}

/* dynamically generated menu links */
.menu-item a {
    text-decoration: none;
}

/* BLOCK STYLINGS ----------- */
body {
    background-color: white;
    font-family: mr-eaves-modern, sans-serif;
    /* font-family: 'Kulim Park', sans-serif; */
}

p {
    font-size: 1.2em;
}

a:visited {
    color: inherit;
}


/* headings */
h1 {
    color: var(--green);
    font-family: var(--header-font);
    font-weight: 600;
    font-style: normal;
    font-size: 3em;
}

h2 {
    color: var(--green);
    font-family: var(--header-font);
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
}

h3 {
    color: var(--green);
    font-family: var(--header-font);
    font-weight: 600;
    font-style: normal;
    font-size: 2.2em;
}

h4 {
    color: var(--green);
    font-family: var(--header-font);
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}

h5 {
    color: var(--green);
    font-family: var(--header-font);
    font-weight: 600;
    font-style: normal;
    font-size: 1.75em;
}

h6 {
    color: var(--green);
    font-family: var(--header-font);
    font-weight: 600;
    font-style: normal;
    font-size: 1.6em;
}


/* ordered list */
ol,
ul {
    font-family: 'Kulim Park', sans-serif;
}

.foot-menu .menu ul li{
    list-style: disc;
}
    /* .entry-content ul li:before{
        content: '';
        display: inline-block;
        background-image: url(../img/unorderedList.svg);
    } */

li {
    font-size: 1.2rem;
    list-style: none;
}
ul li {
    list-style-image: url(../img/Asset\ 1.png); 
}




.wp-block-quote p {
    border-left: var(--green) solid 3px;
    padding: 0.5em 2em;
    font-family: 'Kulim Park', sans-serif;
    font-style: italic;
    font-size: 1.2em;
}

.wp-block-quote cite {
    font-size: 1em;
    color: var(--green);
    font-style: normal;
    font-weight: 500;
}

.wp-block-quote cite::before {
    content: "— ";
}


/* image block */
.wp-block-image img {
    max-width: 90vw;
    margin: 0 auto;
    /* border: #bbbbbb solid 5px; */
}


/* gallery */
.wp-block-gallery {
    max-width: 90vw;
    margin: 0 auto;
}

.wp-block-gallery img {
    border: #bbbbbb solid 5px;
}


/* search widget */
.search-form {
    border-radius: 5px;
    padding: 20px;

}

.search-form .screen-reader-text {
    font-size: 1.5em;
    color: var(--green);
}

.search-form * {
    border-radius: 5px;
}

.search-form .search-field {
    padding: 10px;
    color: var(--green);
    font-size: 1.5em;
}

.search-form .search-submit {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--green);
    color: white;
    font-size: 1.5em;
}


/* table block */

.wp-block-table td {
    font-size: 1.2em;
    line-height: 3;
}

.wp-block-table tr:hover {
    background-color: #dddddd;
}

.wp-block-table tr:nth-child(odd) {
    background-color: #f3f4f5;
}

.wp-block-table th {
    background-color: var(--green);
    /* padding: 10px 20px; */
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
}

/* code block */
.wp-block-code {
    padding: 20px 30px;
    margin: 20px auto;
    background-color: #eeeeee;
    max-width: 90vw;
    border-radius: 10px;
    border: #bbbbbb solid 3px;
    font-family: monospace;
    font-size: 1.5em;
}

.wp-block-code code {
    border-left: var(--green) 2px solid;
    padding-left: 20px;
}

/* pullquote block */
.alignright {
    display: block;
    margin-left: auto;
}

.alignleft {
    display: block;
    margin-right: auto;
}

.wp-block-pullquote .aligncenter {
    max-width: 80vw;
}

.wp-block-pullquote p {
    border-left: var(--green)solid 3px;
    border-right: var(--green) solid 3px;
    padding: 0.5em 2em;
    font-style: italic;
}


.wp-block-pullquote cite {
    font-size: 1em;
    color: var(--green);
    font-style: normal;
    font-weight: 500;
}

.wp-block-pullquote cite::before {
    content: "— ";
}

/* verse block */
.wp-block-verse {
    border-style: solid;
    border-width: 1px 0 1px 20px;
    border-image: url(http://opbokken.nu/meuk/curly.png) 1 20 stretch;
    padding-left: 0.5em 5em;
    font-size: 1.5em;
}




/* testing the foundation on header */
.option:hover {
    background-color: #dddddd;
}

.option h4 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: normal;
}

.option,
.menu-item li {
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
}

.site-header {
    /* height: 150px; */
    max-width: 90vw;
    margin: 0 auto;
    border-bottom: var(--green) solid 3px;
    /* margin-bottom: 50px; */

}

.site-header>* {
    margin-top: 0;
}
#custom-logo-container{
    padding: 10px;
}

.site-header img {
    width: 200px;
}

.bygone-header-menu{
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item a {
    margin: 0 15px;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.1em;
}

/* file block */
.wp-block-file {
    padding: 20px;
    border: #bbbbbb solid 5px;
    text-align: center;
}

/* page-break block */
.page-links {
    text-align: center;
}

/*  cover image inner text*/
.wp-block-cover .wp-block-cover__inner-container {
    color: #00685a;
}




/* woocommerce my account page */

/* woocommerce my account dashboard */

.woocommerce-MyAccount-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #00685a;
    color: white;
    padding: 1em;
    border-left: #ffe66a 10px solid;
    border-right: #ffe66a 10px solid;
}


.woocommerce-MyAccount-navigation a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.woocommerce-MyAccount-navigation a:visited {
    color: white;
}

.woocommerce-MyAccount-navigation li {
    padding: 0 1.5em;
    border-left: solid white 2px;
}

.woocommerce-MyAccount-navigation li:hover {
    transform: scale(1.05);
    color: #ffe66a;
}

.woocommerce-MyAccount-content p {
    font-size: 1.5em;
}

/* .woocommerce-MyAccount-content p:first-of-type {
    display: inline-block;
    font-size: 1em;
    background-color: #f0f0f0;
    padding: 10px 30px 10px 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
} */


/* woocommerce my account orders */
.woocommerce-orders-table {
    margin-top: 50px;
    width: 100%;
}

.woocommerce-orders-table .woocommerce-orders-table__header {
    font-size: 1.5em;
}

.woocommerce-orders-table__header {
    border-bottom: #f0f0f0 2px solid;
}

.woocommerce-orders-table tr {
    text-align: center;
}

.woocommerce-orders-table tbody td {
    padding: 20px 0;
    font-size: 1.2em;
}

.woocommerce-orders-table tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}


/* woocommerce my account addresses */

.woocommerce-Address address {
    font-size: 1.2em;
}

.woocommerce-Address address:before {
    content: url(../img/home.png);
}


/* woocommerce my account - account detail */

.woocommerce-Button[type="submit"] {
    background-color: #00685a;
    color: #ffe66a;
    padding: 20px;
    box-shadow: #333333 5px 5px 5px;
}



.woocommerce-EditAccountForm .required {
    position: relative;
    top: -10px;
    content: url(../img/required.png);
}

.woocommerce-EditAccountForm .woocommerce-Input {
    padding: 5px;
    color: #00685a;
    border: none;
    background-color: inherit;
    border-bottom: #a5a5a5 solid 2px;
    text-align: center;
}

.woocommerce-EditAccountForm {
    background-color: #f3f4f5;
    padding: 20px;
}

.woocommerce-EditAccountForm label {
    font-size: 0.8em;
}

.woocommerce-notices-wrapper .woocommerce-error {
    color: #c62e2b;
    list-style: none;
    padding: 10px;
}

.woocommerce-notices-wrapper .woocommerce-error li {
    border-left: #ffe66a 3px solid;
    margin-bottom: 15px;
    padding-left: 10px;
}


.woocommerce-form-row span {
    font-size: 0.7em;
}

/* latest posts and list view block */


ul.wp-block-latest-posts li {
    margin: 0 0 0.7rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    background-color: lightgray;
    max-width: 350px;
    font-size: 1rem;
    list-style: none;
}

ul.wp-block-latest-posts li::before {
    content: counter(my-awesome-counter);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - -12px);
    line-height: var(--size) - 0px;
    width: var(--size);
    height: var(--size);
    top: -4px;
    text-align: center;
    background: #ffe66a;
    border-radius: 100%;
    padding-top: 1px;
    border: 3px solid white;

}


a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
}

/* latest posts grid view block */
.wp-block-latest-posts.is-grid {
    display: block;
    flex-wrap: wrap;
    padding-left: 40px;
}

/* Categories block */
ul.wp-block-categories li {
    margin: 0 0 0.7rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    background-color: lightgray;
    max-width: 350px;
    font-size: 1rem;
}

ul.wp-block-categories li::before {
    content: counter(my-awesome-counter);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - -12px);
    line-height: var(--size) - 0px;
    width: var(--size);
    height: var(--size);
    top: -4px;
    text-align: center;
    background: #ffe66a;
    border-radius: 100%;
    padding-top: 1px;
    border: 3px solid white;

}

/* Archive block */
ul.wp-block-archives li {
    margin: 0 0 0.7rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    background-color: lightgray;
    max-width: 350px;
    font-size: 1rem;

}

ul.wp-block-archives li::before {
    content: counter(my-awesome-counter);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - -12px);
    line-height: var(--size) - 0px;
    width: var(--size);
    height: var(--size);
    top: -4px;
    text-align: center;
    background: #ffe66a;
    border-radius: 100%;
    padding-top: 1px;
    border: 3px solid white;

}

/* recent comments block */

ul#recentcomments li {
    margin: 0 0 0.7rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    background-color: lightgray;
    max-width: 400px;
    font-size: 1rem;

}

ul#recentcomments li::before {
    content: counter(my-awesome-counter);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - -12px);
    line-height: var(--size) - 0px;
    width: var(--size);
    height: var(--size);
    top: -4px;
    text-align: center;
    background: #ffe66a;
    border-radius: 100%;
    padding-top: 1px;
    border: 3px solid white;

}

span {
    color: black;
    text-decoration: none;
    padding-left: 20px;
}

/* Tell the <li> to not display numbers, but keep track of what the numbers should be */
ol li {
    counter-increment: list;
    list-style-type: none;
    position: relative;
    margin: 0 0 0.5rem 0;
}

/* Outp ut the numbers using the counter() function, but use a custom color, and position the numbers how we want */
ol li:before {
    color:#42210b;
    content: counter(list) ".";
    left: -32px;
    position: absolute;
    text-align: center;
    width: 26px;
    background-color:#ccb2a2 ;
    border-radius: 100%;
    
}


    