.bygone-product-before {
    display: flex;
    background-color: rgb(192, 250, 231);
}

figure.woocommerce-product-gallery__wrapper div {
    display: flex;
    /* background-color: tomato; */
}

ol.flex-control-nav.flex-control-thumbs {
    display: flex;
}

button.pswp__button.pswp__button--arrow--right::before {
    opacity: 1;
    border-color: 3px solid rgb(177, 38, 38);
    /* border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186); */
    background-color: rebeccapurple;
    z-index: 1000;

}
button.pswp__button {
    border: 10px solid orange;
}
.pswp--has_mouse .pswp__button--arrow--left, .pswp--has_mouse .pswp__button--arrow--right {
    background-color: rebeccapurple;

}


/* single product info holder */
.single-product .entry-summary{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* single product page price and tags info box */
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
    width: 50%;
    /* border: 3px solid red; */
    flex-basis: 20%;
}

.single-product, .bygone-product-images{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: space-evenly; */
}


/* single product page image with thumbnails */
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    width: 50%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    
    /* border: 3px solid green; */
}

/* woocommerce-tabs */
.woocommerce-tabs .wc-tabs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* single product tabs with info - description and additional information */
.bygone-product-description{
    display: block;
    /* border: 3px solid yellow; */
    flex-basis: 70%;
    min-width: 60vw;
}

.woocommerce-Tabs-panel h2{
    display: none;
}

/* Mobile Query*/
@media screen and (max-width: 39.9375em) {

    .single-product, .bygone-product-images{
        flex-wrap: wrap;
    }

    .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
        flex-basis: 100%;
        width: 100%;
    }
    
    .bygone-product-description{
        flex-basis: 100%;
    }
}