
/* reduce size and center header on page */
/* header {
    margin: 0 auto;
    width: 90vw;
} */
/* add green underline */
/* header#masthead.site-header {
    border-bottom: 3px solid #00685a;
} */

/* GENERAL ------- */
/* class to display children in rows */
.row {
    display: flex;
}
/* vertically center elements that are in a row */
.center-vertical {
    display:flex;
    align-items: center;
}
/* class to remove pre-defined css margin/padding */
.reset {
    margin:0;
    padding:0;
}


/* HEADER --------*/
/* layout header elements in a row */
.site-branding {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.menu-header-menu-container {
    width: 30vw;
    height: 100%;
    padding-top: auto;
}
/* layout primary menu li in a row */
ul#primary-menu.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    /* remove menu bullets */
    list-style: none;
    padding:0;
    margin:0;
    margin-bottom: auto;
}
/* add border on end */
ul#primary-menu.menu:first-child{
    border-left: 1px solid gainsboro;
}
#primary-menu li {
    height: 100%;

    /* took the bottom line away - AJAY */
    /* width: 33%; */
    border-right: 1px solid gainsboro;
    text-align: center;
}
#primary-menu li:hover {
    background-color: gainsboro;
}
#primary-menu .menu-item a{
    line-height: 90%;
}
.custom-logo-link {
    min-width: 150px;
    width: 30vw;
    text-align: center;

    position: relative;
    top: 50px;

}


/* -------- header right -------- */
#header-right-container {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}
/* add border on end */
#header-right-container:last-child{
    border-right: 1px solid gainsboro;
}
.header-right {
    width: 25%;
    height: 100%;
    border-left: 1px solid gainsboro;
    text-align: center;
}
.header-right:hover {
    background-color: gainsboro;
}






















/*  FOOTER -------- */
/* adding specified height to social media link footer */
div#page.site footer#colophon.site-footer div#social-media-icons {
    background-color: rgba(102, 51, 153, 0.212);
    height: 90px;
}

/* adding background colour to lower footer */
div#page.site footer#colophon.site-footer #quick-links{
    background-color: gainsboro;
    border: 1px solid blue;
    display: flex;
}
/* TEMP BACKGROUND COLOUR */
div#page.site footer#colophon.site-footer div#quick-links .foot-menu {
    background-color: rgb(153, 126, 51);
}


/* adding the border to social media links menu */
.add-child-border li {
    border: 3px solid #00685a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    list-style: none;
    padding: 0;
    margin: 0 20px;

    display:flex;
    justify-content: center;
    align-items: center;
}
/* dynamically generated menu links */
.menu-item a {
    text-decoration: none;
}

.site-info {
    text-align: center;
}

