
/* HEADER --------*/
/* header h1.entry-title {
    display: none;
} */
header{
    position: relative;
}
/* layout header elements in a row */
.site-branding {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.menu-header-menu-container {
    width: 30vw;
    height: 100%;
    padding-top: auto;
}

/* layout primary menu li in a row */
.nav-menu-cont ul.menu{
    display: flex;
    align-items: flex-end;
    height: 100%;
    list-style: none;
    padding:0;
    margin:0;
    margin-bottom: auto;
}

/* testing the foundation on header */
.option:hover {
    background-color: #dddddd;
}

.option h4 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: normal;
}

.option,
.menu-item li {
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
}

.site-header {
    padding: 0 2%;
    margin: 0 auto;
    background-color: rgb(2, 107, 121);
}

.site-header>* {
    margin-top: 0;
}
#custom-logo-container{
    padding: 10px;
}

.site-header img {
    width: 200px;
}

.bygone-header-menu{
    display: flex;
    justify-content: flex-end;
    height: 50%;
}

.bygone-header-menu a{
    padding-left: 0;
}

ul#header-upper.menu{
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

ul#header-lower.menu{
    display: flex;
    align-items: flex-end;
    padding: 10px 0;
}

ul#header-upper.menu li.menu-item a,
ul#header-lower.menu li.menu-item a{
    color:white;
    /* color: rgb(39, 20, 1); */
    /* color: var(--green); */
    text-align: center;
    padding-left: 0;
    position: relative;
    font-family: var(--header-font);
}
ul#header-upper.menu li.menu-item a:hover{
    cursor: pointer;
}

ul#header-upper.menu li.menu-item > a:before, ul#header-lower.menu li.menu-item > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: yellow;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}
ul#header-upper.menu li.menu-item > a:hover:before,
ul#header-upper.menu li.menu-item > a:focus:before,  
ul#header-lower.menu li.menu-item > a:hover:before,
ul#header-lower.menu li.menu-item > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

#bygone-hamburger-menu.hamburger-menu{
    display: none;
}
.hamburger-wrapper {
    display: none;
}










/* mobile view */
@media screen and (max-width: 39.9375em) {
    /* custom logo */
    .site-header img {
        width: 200px;
    }
    /* header menu */
    ul#header-upper.menu{
        display: none;
    }
    ul#header-lower.menu{
        display: none;
    }
    .hamburger-wrapper {
        display: block;
    }
    #bygone-hamburger-menu.hamburger-menu{
        display: block;
        position: absolute;
        left:0;
        /* border: 1px solid teal; */
        background-color: rgb(2, 107, 121);
        z-index: 5;
        padding: 10px;
    }
    #bygone-hamburger-menu.hamburger-menu ul{
        padding-inline-start: 0px;
        margin-block-start: 0em;
        margin-block-end: 0em;

    }
    .hamburger-wrapper{
        display: flex;
        align-items: flex-end;
        padding: 10px;
    }
    #hamburger-icon {
        color: white;
    }

}