
/* HEADER --------*/
/* header h1.entry-title {
    display: none;
} */

/* layout header elements in a row */
.site-branding {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.menu-header-menu-container {
    width: 30vw;
    height: 100%;
    padding-top: auto;
}
/* layout primary menu li in a row */
ul#primary-menu.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    /* remove menu bullets */
    list-style: none;
    padding:0;
    margin:0;
    margin-bottom: auto;
}
/* add border on end */
ul#primary-menu.menu:first-child{
    border-left: 1px solid gainsboro;
}
#primary-menu li {
    height: 100%;

    /* took the bottom line away - AJAY */
    /* width: 33%; */
    border-right: 1px solid gainsboro;
    text-align: center;
}
#primary-menu li:hover {
    background-color: gainsboro;
}
#primary-menu .menu-item a{
    line-height: 90%;
}
#custom-logo-container a {
    display: flex;
    justify-content: center;
}
/* #custom-logo-container a img.custom-logo{
    border: 1px solid purple;
} */


/* -------- header right -------- */
#header-right-container {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}
/* add border on end */
#header-right-container:last-child{
    border-right: 1px solid gainsboro;
}
.header-right {
    /* width: 25%; */
    height: 100%;
    /* border-left: 1px solid gainsboro; */
    text-align: center;
}
.header-right:hover {
    background-color: gainsboro;
}

